<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min1.css"/>
    <link rel="stylesheet" type="text/css" href="/static/content/fontAwesome.css"/>
    <link rel="stylesheet" type="text/css" href="/static/content/templatemo-main.css"/>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1>{{ title }} - MEETUS</h1>
                <span>Sistema de  búsqueda para las personas desaparecidas</span>
                <div class="primary-button">
                    <a href="{{ url_for('BotonCamara') }}">Cámara en tiempo real</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">MEETUS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}
    <img id="video" src="{{ url_for('video_feed') }}" width="640" height="480" style="border: 1px solid gray;">

</body>
</html>
